# Node.js dependencies
node_modules/
dist/
tmp/
build/
.cache/
coverage/

# NX Monorepo
.nx/

# Editor & OS
.vscode/
.idea/
*.log
.DS_Store

# Environment variables
.env
.env.local

# Docker
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.log
Dockerfile.local
